<div class="text-center">
  <div class="background-connect">

  </div>

  <div class="connect-modal">
    <h2>Log in</h2>
    <div class="underline-connect"></div>

    <div class="connect-form">

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider) do %>
        <div class="btn-fb">
          <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
          <div>Facebook Connect</div>
        </div>
       <% end %>
      <% end -%>
    <% end -%>

      <div class="other-connect">
        <div class="underline-half"></div>
        <div>OR</div>
        <div class="underline-half"></div>
      </div>

      <div class="form-mail">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true, placeholder: 'Email', label: false, wrapper_html: { class:  'form-art' } %>
            <%= f.input :password, required: false, placeholder: 'Password', label: false %>
            <div class="remember-me">
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "form-login" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>
